// EXAMPLES
// $font-merri: 'Merriweather', serif;
// $black: #000000;
$font-basic: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$dark: #ada2ff;
$medium-dark: #c0deff;
$medium-light: #ffe5f1;
$light: #fff8e1;
$black: black;