.card {
    width: 18rem;
    border: 5px solid $dark;
    border-radius: 15px;
    padding: 5px;
    &-title {
        font-family: $font-title;
        font-size: large;
    }
}

.btn-imp-projects {
    background-color: $medium-light;
    padding: 20px;
    margin: 5px;
    :hover,:visited,:active {
        background-color: $medium-dark;
        border-radius: 5px;
        transform: scale(150%);
    }
}