.logo-carousel {
    width: 25px;
}

.carousel-projects-title {
    background-color: $basic;
    color: $basic-light;
    padding: 5px;
    display: inline;
    border-radius: 5px;
}

.btn-projects {
    background-color: $medium-light;
    :hover,:visited,:active {
        background-color: $medium-dark;
        border-radius: 5px;
        transform: scale(150%);
    }
}

.carousel-info {
    justify-content: space-between;
}

.carousel-projects-title-box {
    display: flex;
    align-items: end;
}

.carousel-projects-logos-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}