// .list {
//     list-style: none;
//     display: inline;
// }

.nav {
    :hover {
        color: #ada2ff
    } 
}

.nav-link {
    padding: 10px 15px 10px 15px;
    color: black;
}

