//IMPORTS
@import "core/Reset";
@import "core/Variables";

//components scss
//header
@import "components/header/Header";
@import "components/header/PersonalLogo";
//introduction
@import "components/introduction/Introduction";
@import "components/introduction/AvatarCircle";
@import "components/introduction/TextIntroduction";
//techStack
@import "components/techStack/TechElement";
//softSkills
//projects
@import "components/projects/Projects";
@import "components/projects/Carousel";
@import "components/projects/ProjectCard";
@import "components/projects/ProjectCarouselItem";
//contact
@import "components/contact/ContactElementDownload";
//footer
@import "components/footer/Footer";
@import "components/footer/Credits";

//GENERAL
body {
    background-color: $light;
    font-family: $font-basic;
    color: $basic;
}

//BACKGROUND
.paper-background {
    background-color: $basic-light;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, $light, $light 1px, $basic-light 1px, $basic-light);
}

//TODO: review posible mixins
//components

.section {
    padding: 20px;
    @media all and (min-width: 480px) {
        padding: 20px 40px 20px 40px;
    }
}

.list {
    list-style: none;
    display: inline;
}

.nav-link {
    padding: 10px 15px 10px 15px;
    &:hover,:visited,:active {
        color: $dark;
        font-size: 110%;
    }
}

.logo {
    width: 50px;
}

.description {
    padding: 20px;
}

.section-title {
    text-transform: capitalize;
}

.link {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: $basic;
    width: 10vw;
    &:hover,:visited,:active {
    color: $dark;
    font-size: 110%;
    }
}

.nav-height {
    line-height: 1px;
}


//HIGHLIGHTS
.container {
    line-height: 1.4;
    text-align: center;
    padding: 44px;
}
.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}
.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: $medium-dark;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}

.btn-projects {
    background-color: $medium-light;
    :hover,:visited,:active {
        background-color: $medium-dark;
        border-radius: 5px;
        transform: scale(150%);
    }
}

.btn-wo-background {
    :hover,:visited,:active {
        transform: scale(120%);
    }
}

.text-bg-skills {
    background-color: $medium-light;
    font-size: 18px;
    color: $basic;
    margin: 10px;
}

.arrow {
    display:flex;
    justify-content: end;
}