//IMPORTS
//core
@import "core/Reset";
@import "core/Variables";
@import "core/Mixins";

//components scss
//general
@import "components/general/NavElement";
@import "components/general/NavList";
@import "components/general/Title";
//header
@import "components/header/Header";
@import "components/header/PersonalLogo";
//aboutMe
@import "components/aboutMe/Description";
@import "components/aboutMe/ResumeSection";
//introduction
@import "components/introduction/Introduction";
@import "components/introduction/AvatarCircle";
@import "components/introduction/TextIntroduction";
//techStack
@import "components/techStack/TechElement";
//softSkills
@import "components/softSkills/SkillsElement";
//projects
@import "components/projects/Projects";
@import "components/projects/Carousel";
@import "components/projects/ProjectCard";
@import "components/projects/ProjectCarouselItem";
//contact
@import "components/contact/ContactElementDownload";
//footer
@import "components/footer/Footer";
@import "components/footer/Credits";

//other styles
@import "decorations/BackgroundDecoration";
@import "decorations/Highlights";
@import "decorations/Heart";

//GENERAL
body {
    background-color: $light;
    font-family: $font-basic;
    color: $basic;
}

//APPLY TO ALL PAGE
.section {
    padding: 20px;
    @media all and (min-width: 480px) {
        padding: 20px 40px 20px 40px;
    }
}

.list {
    list-style: none;
    display: inline;
}

.logo {
    width: 50px;
}

.link {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: $basic;
    &:hover,:visited,:active {
    color: $dark;
    font-size: 110%;
    border: transparent;
    }
}

.btn {
    border: transparent;
}