.circle-box {
    display:flex;
    justify-content: center;
        @media all and (min-width: 992px) {
        justify-content:end;
        padding-right: 60px;
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    @media all and (min-width: 480px) {
        width: 150px;
        height: 150px;
    }
    @media all and (min-width: 576px) {
        width: 200px;
        height: 200px;
    }
    img {
        height: 100%;
        margin: 0 auto;
    }
}